$full-height: 512px;

.memory-wrapper {
    width: 95%;
    margin: 0 2vw;

    .border {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 2px solid rgb(196, 196, 196);
        height: fit-content;
        padding: 16px;

        .image {
            height: 100%;
            width: 100%;

            .slick-prev {
                background-color: black;
                padding-top: 2px;
                width: 24px;
                height: 32px;
            }

            .slick-next {
                background-color: black;
                padding-top: 2px;
                width: 24px;
                height: 32px;
            }

            .slick-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    max-height: $full-height;
                    overflow: hidden;
                }
            }
        }


        .favorite-button-wrapper {
            width: 100%;

            .favorite-button {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }

}